ClienteSubastaNet/Connected Services/InicioSesionServicio/InicioSesionServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="InicioSesionServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52610/InicioSesionServicio.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52610/InicioSesionServicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInicioSesionServicio_IniciarSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:IniciarSesion" />
  </wsdl:message>
  <wsdl:message name="IInicioSesionServicio_IniciarSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:IniciarSesionResponse" />
  </wsdl:message>
  <wsdl:message name="IInicioSesionServicio_VerificarNombre_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarNombre" />
  </wsdl:message>
  <wsdl:message name="IInicioSesionServicio_VerificarNombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarNombreResponse" />
  </wsdl:message>
  <wsdl:portType name="IInicioSesionServicio">
    <wsdl:operation name="IniciarSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IInicioSesionServicio/IniciarSesion" message="tns:IInicioSesionServicio_IniciarSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInicioSesionServicio/IniciarSesionResponse" message="tns:IInicioSesionServicio_IniciarSesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerificarNombre">
      <wsdl:input wsaw:Action="http://tempuri.org/IInicioSesionServicio/VerificarNombre" message="tns:IInicioSesionServicio_VerificarNombre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInicioSesionServicio/VerificarNombreResponse" message="tns:IInicioSesionServicio_VerificarNombre_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInicioSesionServicio" type="tns:IInicioSesionServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IniciarSesion">
      <soap:operation soapAction="http://tempuri.org/IInicioSesionServicio/IniciarSesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarNombre">
      <soap:operation soapAction="http://tempuri.org/IInicioSesionServicio/VerificarNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InicioSesionServicio">
    <wsdl:port name="BasicHttpBinding_IInicioSesionServicio" binding="tns:BasicHttpBinding_IInicioSesionServicio">
      <soap:address location="http://localhost:52610/InicioSesionServicio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>